public/hot
public/storage
storage/*.key
vendor
node_modules
.idea
_ide_helper.php
.vscode
.vs
.git
.k8s
.github
.php-cs-fixer.cache
.phpunit.result.cache
phpstan.neon
README.md
phpunit.xml
.editorconfig
tests
coverage
storage/clockwork
bootstrap/cache/*.php
